@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

.container-cadastro {
  background-image: url("./src/assets/background.svg");
  background-repeat: no-repeat;
  width: 100vh;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.container-form-cadastro {
  display: flex;
}

.img-cadastro {
  width: 500px;
  height:500px;
  position: relative;
  /* animation: float 4s linear infinite; */
  transform: rotate(25deg);
}

@keyframes float {
  0% {
    transform: translate(0, 0px );
  }
  50% {
    transform: translate(0, 35px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.titulo-cadastro {
  color: white;
  font-family: "Poppins", sans-serif !important;
}

.titulo-cadastro {
  font-weight: bold !important;
}

input#nome,
input#email,
input#senhaCadastro,
input#confirmarSenha {
  border-radius: 10px;
  border: 1px white solid;
}

.btn-cancelar {
  background-color: rgba(46, 32, 129, 1) !important;
  margin-right: 30px !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-cancelar:hover {
  background-color: rgb(61, 44, 154) !important;
  margin-right: 30px !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-cadastrar {
  background-color: #f7593d !important;
  color: white !important;
  font-family: "Poppins", sans-serif !important;
}

.btn-cadastrar:hover {
  background-color: #c52d3f !important;
}
